h1 {
  font-size:50px;
}

h2 {
  font-size:30px;
}

h3 {
  font-size:25px;
}

.mypage {
  text-align: left;
}

.guest {
  width:1200px;
  margin:0 auto;
}

.guest p {
  font-size:18px;
  margin-left: 15px;
}

.kihon h2{
  text-align: left;

}

.top {
  width: 900px;
  margin: 0 auto;
}

.top h1, h2 {
  text-align: center;
}

.photo {
  text-align: center;
  margin:0 0 0 0;
}

.menu {
  margin-left:15px;
}

.menu h2 {
  text-align: left;
}

.menu li{
  font-size: 18px;
}

.address {
  margin-left:15px;
}

.htgr {
  margin-left:15px;
}

.htgr p{
  margin:5px 0 5px 0;
}

.htgk {
  margin-left:15px;
}

.aircon {
  margin-left:15px;
}

.garbage {
  margin-left:15px;
}

.preview {
  width: 1200px;
    float: left;
}

.preview2 {
  width: 850px;
  float:left;
  margin-left: 50px;
}

.twitter {
  height: 550px;
  width: 220px;
  float:left;
}

.guest {
  width: 1200px;
}

.guest2 {
  width: 850px;
  float:left;
  margin-left: 50px;
}